{% extends "layout_template.html" %}
{% block body %}
                            <div class="col-md-12 content-page">
                              <div class="col-md-12 blog-post">
                                <div class="post-title margin-bottom-30">
                                    <h1>Привет, меня зовут <span class="main-color">Данил Литовченко</span></h1>
                                    <ul class="knowledge">
                                      <li class="bg-color-1">ML Enthusiast</li>
                                      <li class="bg-color-4">Web Developer</li>
                                      <li class="bg-color-6">Freelancer</li>
                                     </ul>
                                   </div>
                                    <p>
                                      Я студент первого курса Харьковского Политехнического Университета, факультета "Компьютерные науки". Сейчас я занимаюсь разработкой на языке Python с использованием фреймворка Flask и SQLAlchemy. Так же я интересуюсь мобильной разработкой и машинным обучением
                                      На данный момент я нахожусь в активном поиске работы, так что если вам понравился какой-то из <a href="work.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Увидеть мои работы">моих проектов</a> и вы захотели увидеть меня в своем коллективе или сотрудничать со мной над каким-либо единоразовым проектом, я с радостью рассмотрю ваши предложения
                                    </p>
                                  <div class="post-title">
                                    <h1>Мои <span class="main-color">Навыки</span></h1>
                                   </div>
                                  <div class="list list-style-2 margin-top-30">
                                    <ul>
                                      <li>Python</li>
                                      <li>Flask</li>
                                      <li>SQLAlchemy</li>
                                      <li>Machine Learning</li>
                                     </ul>
                                   </div>
                                </div>
                                  <div class="col-md-12 text-center">
                                    <a href="contact.html" data-toggle="tooltip" data-placement="top" title="Посетить страницу контактов" class="load-more-button">Связаться</a>
                                  </div>
                             </div>
                         </div>
                       </div>
{% endblock %}
