{% extends 'layout_template.html'%}
{% block title %} {{post.title}} {% endblock %}
{% block body %}
<div class="blog-post">
  <h2 class="blog-post-title">{{post.title}}</h2>
  <p class="blog-post-meta"> {{post.post_date}} </p>
  <article>
    {{post.post_text | safe}}
  </article>
  <span class="label label-default" id="like-label"><a href="javascript:like();">Likes: {{post.likes_number}}</a></span>
</div>
<script>
function like() {
  $.post('/like/{{post.id}}', {

  }).done(function(number) {
    $('like-label').text(number['likes_number'])
  }).fail(function() {
    alert("Problem")
  }

  )
}
</script>
{% endblock %}
